/* =====================================
 * NORMALIZE
 * ================================== */
html,
body
  margin: 0
  pading: 0
  overflow-x: hidden

/* =====================================
 * SASS VARIABLES
 * ================================== */
$heading-font: 'Sriracha', serif
$main-font: 'Source Sans Pro', sans-serif
$logo-font: 'Nunito', sans-serif

$dark-blue: #0E172C
$light-purple: #D9D4E7
$light-gray: #F9F8FC
$pink: #FEC7D7
$purple: #A786DF
$white: #FFFFFE

$mobile-margin: 1.47em
$large-side-margin: 10%
$large-top-bottom-padding: 2em
$large-side-padding: 7%

/* =====================================
 * GENERAL
 * ================================== */
html
  font-size: 17px

@media(min-width: 450px)
  html
    font-size: 20px

@media(min-width: 900px)
  html
    font-size: 23px

%body-shared
  font-family: $main-font
  font-size: 1rem
  line-height: 1.6
  font-weight: 300
  overflow-x: hidden

body
  @extend %body-shared

img
  max-width: 100%
  display: block

/* =====================================
 * UTILITIES
 * ================================== */
ul
  list-style-type: none
  margin: 0
  padding: 0

a
  text-decoration: none
  color: inherit

.hide
  display: none

.clearfix::after
   content: " "
   display: block
   height: 0
   clear: both

/* =====================================
 * TYPOGRAPHY
 * ================================== */
%h1-to-h3-styles
  font-family: $heading-font
  line-height: 1.4
  font-weight: 400
  margin: .87em 0

h1, h2, h3
  @extend %h1-to-h3-styles

h1
  font-size: 2.83rem
  font-size: 2.4rem

@media (min-width: 900px)
  h1 
    font-size: 2.83rem

h2
  font-size: 1.74rem

h3
  font-size: 1.22rem

h4
  font-size: .78rem
  line-height: 1.5
  font-weight: 400
  letter-spacing: .123em
  text-transform: uppercase
  margin: 1.1em 0

p
  line-height: 1.4

.logo
  font-family: $logo-font
  letter-spacing: .141em
  line-height: 1.4em
  text-transform: uppercase
  color: $white
  a
    font-size: 1rem
    color: $white

.logo a:hover, .logo a:focus
  color: $white

.small 
  font-size: .7rem
  line-height: 1.3
  font-weight: 400

a
  font-weight: 400
  color: $purple
  text-decoration: underline

.btn_1
  font-size: 1rem
  line-height: 1.5
  font-weight: 400
  letter-spacing: .2em
  text-transform: uppercase
  border: none
  background-color: $pink
  padding: 0
  margin: 1.1em 0
  opacity: .7
  cursor: pointer

.attention
  font-size: .61rem
  line-height: 1.4
  font-weight: 400

li
  font-weight: 400
/* =====================================
 * SITEWIDE
 * ================================== */

/* || LAYOUT */

.margin-container
  margin: 0 $mobile-margin
  padding: $mobile-margin 0

@media (min-width: 450px)
  .margin-container
    margin: 0 $large-side-margin
    padding: $large-top-bottom-padding 0

@media (min-width: 900px)
  .margin-container
    margin: 0 auto
    padding: $large-top-bottom-padding $large-side-padding
    max-width: 1008px


/* || HEADER */
header
  box-sizing: border-box
  background-color: $pink
  width: 100%
  padding: $mobile-margin
  display: flex
  align-items: center
  z-index: 8
  
.js-header-transition 
  transition: transform .4s ease-in-out

@media (min-width: 450px)
  header
    padding: $large-top-bottom-padding $large-side-margin

@media (min-width: 900px)
  header
    height: 100px
    flex-direction: column
    justify-content: flex-end
    padding: 0

/* || FOOTER */
footer
  background-color: $white
  padding-top: 1.76em

  .logo-footer
    color: $dark-blue
    margin-bottom: 1.3em

  .footer-top-row
    display: flex
    flex-direction: column
    margin-bottom: 6em

  .footer-contact
    h2
      margin-bottom: 0
    h4
      @extend %body-shared
      margin-top: .1em
      color: $dark-blue
      text-decoration: none

@media (min-width: 900px)
  footer
    .margin-container
      padding-bottom: 1em
      padding-left: 8%
      padding-right: 8%
      max-width: 1520px

    .footer-top-row
      flex-direction: row
      justify-content: space-between
      margin-bottom: 6.5em

    .footer-contact
      text-align: right
      h2
        margin-top: -5px

    .nav-footer
      ul
        margin: 0 auto


/* || COMPONENTS */

// Main nav
nav 
  display: flex
  align-items: center

  ul
    display: flex
    flex-direction: column

  a
    font-size: .74rem
    line-height: 1.3
    font-weight: 400
    color: $dark-blue
    text-decoration: none

  a:hover, a:focus
    color: $purple

@media (min-width: 900px)
  .nav-main
    width: 100%

    ul
      width: 100%
      flex-direction: row
      margin: 0 75px 20px 75px

      li:nth-child(1)
        order: 3
        margin: 0 auto
        align-self: flex-end
      li:nth-child(2)
        order: 1
        margin-right: 43px
      li:nth-child(3)
        order: 2
      li:nth-child(4)
        order: 4
        margin-right: 43px
      li:nth-child(5)
        order: 5

// Start Nav-burger
.nav-burger
  order: 2
  margin-left: auto
  width: 30px
  height: 12px
  position: relative
  border-top: 2px solid $dark-blue
  z-index: 9

.nav-burger:after, .nav-burger:before
  content: ''
  width: 100%
  height: 2px
  background-color: $dark-blue
  position: absolute

.nav-burger:after
  bottom: 0
  left: 0
  width: 60%
  transition: width .2s ease-in-out

.nav-burger:before
  top: 4px
  left: 0

// TODO: uncomment again
// .js-navBurger-darkBlue
//   border-top: 2px solid $dark-blue !important

// .js-navBurger-darkBlue:after, .js-navBurger-darkBlue:before
//   background-color: $dark-blue !important

@media (min-width: 900px)
  .nav-burger
    display: none

// End Nav-burger

// Mobile nav
.nav-mobile
  width: 100vw
  height: 100vh
  background-color: $pink
  position: fixed
  z-index: 3
  top: 0
  right: 0
  bottom: 0
  left: 0
  transform: translateY(-100vh)

  display: flex
  justify-content: center
  align-items: center

.js-nav-mobile-transition
  transition: transform .4s ease-in-out

.js-nav-mobile-show
  transform: translateY(0vh)

// Footer nav
footer
  .nav-footer
    ul
      // margin: 0 auto
      text-align: center
      display: flex
      flex-direction: row
      li
        margin-left: 1em
      li:nth-child(1)
        margin-left: 0


// Card
%card-styles
  max-width: 484px
  background-color: $light-gray
  border-radius: 5px
  margin-bottom: 1.5em
  // padding: 3em
  // padding-bottom: 2em
  display: flex
  align-items: center

.card-margin-container
  position: relative
  display: inline-block
  padding: 2em


/* =====================================
 * PAGES
 * ================================== */

/* || HOMEPAGE */
.home
  background-color: $pink

.hero-section-homepage
  background-color: $light-purple
  img
    position: absolute
    left: 105px
    min-width: 405px
    max-width: 405px
    // border: 1px solid red   TODO: take out

.headings-wrap-landing
  position: relative

  h3
    margin-top: -1.3em

@media (min-width: 450px)
  .hero-section-homepage
    img
      max-width: 505px
      left: 40vw

@media (min-width: 900px)
  .hero-section-homepage
    .margin-container
      padding-top: 4.8em
      padding-bottom: 6.8em

    img
      max-width: 885px

.contact-info
  background-color: $white
  margin-bottom: 6em

@media (min-width: 900px)    
  .contact-info
    .margin-container
      display: flex
      justify-content: space-between
      padding-top: 1.2em
      padding-bottom: 1.2em
      margin-bottom: 10em

.phone,
.email
  @extend %body-shared

.reservations
  // text-align: center

.services
  margin-bottom: 6em

  h4
    margin-bottom: 4em

  .card
    @extend %card-styles
    background-color: $white

@media (min-width: 900px)
  .reservations
    text-align: center

  .hours
    display: block
    text-align: center

  .card-container-services
    display: flex

  .card-events
    align-self: center
    margin-right: 40px

.contact-form
  margin-bottom: 6em

.form-email, .form-subject
  display: flex

  h4
    width: 8em
    opacity: .7

  input
    @extend %body-shared
    font-weight: 400
    height: 1.3em

    border: none
    outline: none

    background-color: $pink
    width: 100%
    max-width: 350px
    margin-top: .7em

.form-subject, .form-text
  margin-bottom: 1.6em

textarea
  @extend %h1-to-h3-styles
  font-size: 1.74em
  height: 2.8em
  width: 100%
  max-width: 900px
  background-color: $pink
  border: none
  box-shadow: none
  resize: none
  outline: none

textarea::placeholder
    color: $dark-blue
    opacity: 1


/* || ABOUT */
.about
  background-color: $pink

.hero-section-about
  height: 160px

  .margin-container
    padding: 0
    height: 100%
    display: flex
    align-items: flex-end

  .hero-image-wrap
    height: 160px
    background-image: linear-gradient(rgba(217, 212, 231, .85), rgba(217, 212, 231, .85)), url(../img/hero_about.jpg)
    background-size: cover
    width: 100%
    position: absolute
    z-index: -1

@media (min-width: 450px)
  .hero-section-about
    height: 15.5rem

    .hero-image-wrap
      height: 15.5rem

    h2
      margin-bottom: 40px

@media (min-width: 900px)
  .hero-section-about
    padding-top: 60px

    .margin-container
      margin-top: 170px
      display: block
      padding: $large-top-bottom-padding $large-side-padding

    .hero-image-wrap
      max-width: 1264px
      left: 50%
      -webkit-transform: translateX(-50%)
      transform: translateX(-50%)

@media (min-width: 1280px)
  .hero-section-about
    .hero-image-wrap
      border-radius: 5px

.testimonials-section
  margin-bottom: 3.8em
  .headings-container
    display: flex
    .icon-bubbles2
      padding: 0 0 0 .8em
      color: $white
      font-size: 3rem
      margin-top: -.3em
  p
    margin-top: -.4em

  .headings-testimonials
    margin-bottom: 2em

  .testimonial-box
    @extend %card-styles
    position: relative
    z-index:-2

    .card-margin-container
      padding: 3em
      padding-bottom: 2em

      .icon-quotes-left
        position: absolute
        top: .45em
        left: .7em
        font-size: 3rem
        color: $purple
        z-index: -1
        opacity: .16

      .client-name
        text-align: right

@media (min-width: 900px)
  .testimonials-section
    .testimonials-grid
      width: 46%
      float: left
      margin-right: 2vw

    @supports (display: grid)
      // Undo non-supporting grid browsers.
      %card-styles
        max-width: none
        margin: 0

      .testimonials-grid
        // Undo non-supporting grid browsers.
        width: 100%
        margin: 0

        // Let's Grid
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 30px
        margin-bottom: 30px

      .testimonials-grid:nth-of-type(1)
        .testimonial-box:nth-child(3)
          grid-column: 1/3

      .testimonials-grid:nth-of-type(2)
        .testimonial-box:nth-child(2)
          grid-column: 2/3
          grid-row: 1/3
        .testimonial-box:nth-child(1)
          grid-row: 1/2
        .testimonial-box:nth-child(3)
          grid-row: 2/3


.about-wendy-section
  background-color: $dark-blue
  color: $light-purple

  .margin-container
    padding-top: 4.5em
    padding-bottom: 6.5em

  h2
      color: $white

  .about-wendy-grid
    display: flex
    flex-direction: column

    .about-wendy-text
      order: 1
      margin: .7em 0

    .wendy-img-box:nth-child(2)
      order: 0

      .img-wrap
        padding-bottom: 60%

        background-image: url(../img/wendy_smiling.jpg)
        background-size: cover
        background-position: center
        border-radius: 5px

    .wendy-img-box:nth-child(3)
      order: 3

      img
        width: 21.7rem
        border-radius: 5px

@media (min-width: 450px)
  .about-wendy-section
    .about-wendy-grid
      display: block

      .about-wendy-text
        margin: 0 0 2em 0

      .wendy-img-box:nth-child(2)
        width: 27vw
        margin-bottom: 30px
        float: left
        margin-right: 2vw

        .img-wrap
          padding-bottom: 67%

      .wendy-img-box:nth-child(3)
        img
          width: 45vw
          border-radius: 5px

  @supports (display: grid)
    // Undo non-supporting grid browsers.
    .about-wendy-section
      .about-wendy-grid
        .about-wendy-text
          margin: 0
        .wendy-img-box:nth-child(2)
          margin: 0
    
    // Let's Grid
    .about-wendy-section
      .about-wendy-grid
        display: grid
        grid-template-columns: 1fr 1fr
        row-gap: 2rem
        column-gap: .9rem
        
        .about-wendy-text
          grid-column: 1/3
          grid-row: 1/2

        .wendy-img-box:nth-child(2)
          grid-column: 1/2
          grid-row: 2/3
          justify-self: end

        .wendy-img-box:nth-child(3)
          grid-column: 2/3
          grid-row: 2/3

@media (min-width: 900px)
  .about-wendy-section
    .about-wendy-grid
      .about-wendy-text
        max-width: 496px

      .wendy-img-box:nth-child(2)
        max-width: 300px

      .wendy-img-box:nth-child(3)
        max-width: 500px
        float: left

  @supports (display: grid)
    // Let's Grid
    .about-wendy-section
      .about-wendy-grid        
        .about-wendy-text
          grid-column: 1/2

/* || COCKTAILS */
.cocktails
  background-color: $dark-blue

  header
    background-color: $dark-blue

    .nav-burger
      border-top: 2px solid $light-gray

    .nav-burger:after, .nav-burger:before
      background-color: $light-gray

    a
      color: $light-gray

  footer
    background-color: $pink

.hero-section-cocktails
  height: 160px

  .margin-container
    padding: 0
    height: 100%
    display: flex
    align-items: flex-end

  .hero-image-wrap
    height: 160px
    background-image: linear-gradient(rgba(217, 212, 231, .85), rgba(217, 212, 231, .85)), url(../img/cocktails.jpg)
    background-size: cover
    width: 100%
    position: absolute
    z-index: -1

@media (min-width: 450px)
  .hero-section-cocktails
    height: 15.5rem

    .hero-image-wrap
      height: 15.5rem

    h2
      margin-bottom: 40px

@media (min-width: 900px)
  .hero-section-cocktails
    padding-top: 60px

    .margin-container
      margin-top: 170px
      display: block
      padding: $large-top-bottom-padding $large-side-padding

    .hero-image-wrap
      max-width: 1264px
      left: 50%
      -webkit-transform: translateX(-50%)
      transform: translateX(-50%)

@media (min-width: 1280px)
  .hero-section-cocktails
    .hero-image-wrap
      border-radius: 5px

.menu-section
  margin-bottom: 3.8em

  p
    color: $light-gray
    margin-bottom: 4.5em

  h4
    color: $white

  .js-alcohol-headings
    // display: flex   // TODO: apply via JS
    li
      margin-right: 3em

  .alcohol-heading
    margin: 4em 0 2em

  .drink-box
    @extend %card-styles
    background-color: $light-purple

@media (min-width: 900px)
  .menu-section
    .drink-box
      width: 46%
      float: left
      margin-right: 2vw

    @supports (display: grid)
      // Undo non-supporting grid browsers.
      %card-styles
        max-width: none
        margin: 0

      .drinks-grid
        // Undo non-supporting grid browsers.
        .drink-box
          width: 100%

        // Let's Grid
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 30px // TODO: chnage units
        margin-bottom: 30px

      .drinks-grid:nth-of-type(1)
        .drink-box:nth-child(3)
          grid-column: 1/3

          .card-margin-container
            margin: 0 auto

          ul
            display: flex
            li
              margin-right: 3em

      .drinks-grid:nth-of-type(3)
        .drink-box:nth-child(2)
          grid-column: 2/3
          grid-row: 1/3
        .drink-box:nth-child(1)
          grid-row: 1/2
        .drink-box:nth-child(3)
          grid-row: 2/3

.cocktail-finder-section
  background-color: $white

  .margin-container:nth-of-type(1)
    padding-top: 4.5em

    p
      max-width: 490px

  .margin-container:nth-of-type(2)
    padding-bottom: 6.5em

  form
    margin-top: 1.8em
    display: flex
    flex-direction: column
    max-width: 496px

    input
      @extend %body-shared
      height: 3.2rem
      border: none
      outline: none
      border-radius: 5px
      background-color: $light-purple

    .ingredient-input
      margin-bottom: 1em
      padding-left: 1.8em

    .btn_2
      margin-left: auto
      height: 2rem
      width: 5.6rem
      color: $light-purple
      background-color: $purple
      opacity: .73
      font-weight: 600
      line-height: 1.5
      font-size: .78rem
      cursor: pointer
      letter-spacing: .123em

  .beverage-list-container,
  .beverage-details-container
    @extend %card-styles
    background-color: $light-purple

  .beverage-list-container
    align-items: start
    font-size: .78rem

    .card-margin-container
      padding: 1em 0
      width: 100%

      .heading-container
        text-align: center

    .drinks-wrap
      display: flex
      justify-content: space-between
      align-items: center

    .drinks-slide
      display: flex
      justify-content: space-between
      order: 1

      li
        border-radius: 5px
        background-color: $light-gray
        padding: .8em
        margin: 1em .5em
        cursor: pointer

    .btn_back,
    .btn_forward
      width: 2.8rem
      height: 2.8rem
      color: $light-gray
      cursor: pointer

    .btn_back
      order: 0

      .material-icons-round
        font-size: 2.5rem

    .btn_forward
      order: 2
      display: flex

      .material-icons-round
        font-size: 2.5rem
        margin-left: auto

  .beverage-details-container
    .beverage-image-wrap
      margin-bottom: 30px
    img
      border-radius: 5px
      border: 0.09rem solid $dark-blue
      width: 75%
      margin: 0 auto

    ul
      li
        font-weight: 300

@media (min-width: 900px)
  .cocktail-finder-section
    .margin-container:nth-of-type(2)
      max-width: 1520px
      display: flex
      justify-content: space-between

    .beverage-list-container,
    .beverage-details-container
      max-width: none
      width: 49%
      font-size: 1em

    .beverage-list-container
      height: 635.7px

      .drinks-wrap
        justify-content: center

        .btn_back, .btn_forward
          display: none

        li
          font-weight: 300

    .beverage-details-container
      align-items: flex-start

      .card-margin-container
        padding-top: 1em
        padding-bottom: 1.5em
        width: 100%

        .heading-container
          text-align: center

        // .beverage-details-wrap
        //   display: flex
        //   // flex-direction: column

        img
          width: 360px

@media (min-width: 1690px)
  .cocktail-finder-section
    .beverage-details-container
      .card-margin-container
        padding: 1em 1.5em
        .beverage-details-wrap
          display: flex
          // justify-content: space-between
          margin-top: 80px

          img


        .heading-container
          text-align: left

      

    .beverage-details-container
      .beverage-image-wrap
        margin-bottom: 0
        margin-right: 30px

      .ingredients-list-wrap
        display: flex
        flex-direction: column
        justify-content: center


/* || FAQ */

.faq

  .intro-section-faq
    p
      max-width: 27rem

  .hero-section-faq
    height: 200px
    background-image: url(../img/questionmark.jpg)
    background-size: cover
    background-position: center
    margin-bottom: 2em

  @media (min-width: 450px)
    .hero-section-faq
      height: 300px

  @media (min-width: 900px)
    .hero-section-faq
      height: 460px

  .qa-section
    margin-bottom: 7rem

  .qa-container
    background-color: $light-purple
    border-radius: 5px

  .card-margin-container
    padding: 2em 0.7em

  .qa
    border-bottom: 1px solid $light-gray
    margin-bottom: 1.4em

  .qa:last-child
    border: none
    margin-bottom: 0

    p
      margin-bottom: 0

  .question-container
    display: flex
    justify-content: space-between
    align-items: center

    h3
      margin: 0 1.47em 0 0

  .add-icon
    font-size: 1.95rem
    color: $light-gray

  @media (min-width: 450px)
    .qa-container
      padding: 2em

    .card-margin-container
      padding: 0
      width: 100%

    .answer-container
      p
        max-width: 540px

  @media (min-width: 900px)
    .hero-section-faq
      margin-bottom: 3em

    .qa-container
      padding: 3em 5em

    .answer-container
      p
        max-width: 624px

  footer
    background-color: $pink

/* || CONTACT */

.contact
  background-color: $pink

  main
    margin-top: 3em

  @media (min-width: 900px)
    main
      margin-top: 8.7em

  .contact-section
    margin-bottom: 6em

    .contact-info-wrap
      max-width: 496px

  .email-address
    display: block
    margin-bottom: 3em

