/* =====================================
 * NORMALIZE
 * ================================== */
html,
body
  margin: 0
  padding: 0
  overflow-x: hidden

/* =====================================
 * SASS VARIABLES
 * ================================== */
$heading-font: 'Sriracha', serif
$main-font: 'Source Sans Pro', sans-serif
$logo-font: 'Nunito', sans-serif

$dark-blue: #0E172C
$light-purple: #D9D4E7
$light-gray: #F9F8FC
$pink: #FEC7D7
$purple: #A786DF
$white: #FFFFFE

$mobile-margin: 1.47em
$large-side-margin: 10%
$large-top-bottom-padding: 2em
$large-side-padding: 7%

/* =====================================
 * GENERAL
 * ================================== */
html
  font-size: 17px
  color: $dark-blue

@media(min-width: 450px)
  html
    font-size: 20px

@media(min-width: 900px)
  html
    font-size: 23px

%body-shared
  font-family: $main-font
  font-size: 1rem
  line-height: 1.6
  font-weight: 300
  overflow-x: hidden

body
  @extend %body-shared
  position: relative

img
  max-width: 100%
  display: block
  height: auto // for ie

/* =====================================
 * UTILITIES
 * ================================== */
ul
  list-style-type: none
  margin: 0
  padding: 0

a
  text-decoration: none
  color: inherit

.hide
  display: none

.js-hide-v2
  visibility: hidden

.clearfix::after
  content: " "
  display: block
  height: 0
  clear: both

.noscroll
  position: fixed
  overflow-y: scroll
  width: 100%

/* =====================================
 * TYPOGRAPHY
 * ================================== */
%h1-to-h3-styles
  font-family: $heading-font
  line-height: 1.4
  font-weight: 400
  margin: .87em 0

h1, h2, h3
  @extend %h1-to-h3-styles

h1
  font-size: 2.83rem
  font-size: 2.4rem
  line-height: 1.2

@media (min-width: 900px)
  h1
    font-size: 2.83rem

h2
  font-size: 1.74rem

h3
  font-size: 1.22rem

h4
  font-size: .78rem
  line-height: 1.5
  font-weight: 400
  letter-spacing: .123em
  text-transform: uppercase
  margin: 1.1em 0

p
  line-height: 1.4

.logo
  font-family: $logo-font
  letter-spacing: .141em
  line-height: 1.4em
  text-transform: uppercase
  color: $white
  a
    font-size: 1rem
    color: $white

.logo a:hover, .logo a:focus
  color: $white

.small
  font-size: .7rem
  line-height: 1.3
  font-weight: 400

a
  font-weight: 400
  transition: color .2s ease-in-out

a:hover, a:focus
  color: #a786df

.btn_1
  font-size: 1rem
  line-height: 1.5
  font-weight: 400
  letter-spacing: .2em
  text-transform: uppercase
  border: none
  background-color: $pink
  padding: 0
  margin: 1.1em 0
  opacity: .7
  cursor: pointer

.attention
  font-size: .61rem
  line-height: 1.4
  font-weight: 400

li
  font-weight: 400
/* =====================================
 * SITEWIDE
 * ================================== */

/* || LAYOUT */

.margin-container
  margin: 0 $mobile-margin
  padding: $mobile-margin 0

@media (min-width: 450px)
  .margin-container
    margin: 0 $large-side-margin
    padding: $large-top-bottom-padding 0

@media (min-width: 900px)
  .margin-container
    margin: 0 auto
    padding: $large-top-bottom-padding $large-side-padding
    max-width: 1008px

/* || HEADER */
header
  box-sizing: border-box
  background-color: $pink
  width: 100%
  padding: $mobile-margin
  display: flex
  align-items: center
  z-index: 8

  .logo
    img
      width: 130px

.js-header-transition
  transition: transform .4s ease-in-out

.js-header-box-shadow
  box-shadow: 0px 0px 15px rgba(14, 23, 44, 0.15)

@media (min-width: 450px)
  header
    padding: $large-top-bottom-padding $large-side-margin
    .logo
      img
        width: 160px

@media (min-width: 900px)
  header
    height: 100px
    flex-direction: column
    justify-content: flex-end
    padding: 0

    .logo
      img
        width: 210px

/* || FOOTER */
footer
  background-color: $white
  padding-top: 1.76em

  .logo-footer
    // color: $dark-blue
    // margin-bottom: 1.3em
    img
      width: 54px

    a
      color: $dark-blue
      text-decoration: none

    a:hover, a:focus
      color: $dark-blue

  .footer-top-row
    display: flex
    flex-direction: column
    margin-bottom: 4em

  .footer-contact
    h2
      margin-bottom: 0
    h4
      @extend %body-shared
      margin-top: .1em
      color: $dark-blue
      text-decoration: none

  .footer-bottom-row
    img
      width: 150px
      margin-bottom: 1.75em

@media (min-width: 450px)
  footer
    .logo-footer
      img
        width: 70px

    .footer-bottom-row
      img
        width: 200px

@media (min-width: 900px)
  footer
    .margin-container
      padding-bottom: 1em
      padding-left: 8%
      padding-right: 8%
      max-width: 1520px

    .footer-top-row
      flex-direction: row
      justify-content: space-between
      margin-bottom: 6.5em

    .logo-footer
      img
        width: 80px

    .footer-contact
      text-align: right
      h2
        margin-top: -5px

    .footer-bottom-row
      img
        width: 320px
        margin: -320px auto 50px

      .nav-footer
        ul
          margin: 0 auto

/* || COMPONENTS */

// Main nav
nav
  display: flex
  align-items: center

  ul
    display: flex
    flex-direction: column

  a
    font-size: .74rem
    line-height: 1.3

@media (min-width: 900px)
  .nav-main
    width: 100%

    ul
      width: 100%
      flex-direction: row
      margin: 0 75px 15px 75px
      align-items: flex-end

      li:nth-child(1)
        order: 3
        margin: 0 auto
        align-self: flex-end
      li:nth-child(2)
        order: 1
        margin-right: 43px
      li:nth-child(3)
        order: 2
      li:nth-child(4)
        order: 4
        margin-right: 43px
      li:nth-child(5)
        order: 5

// Start Nav-burger
.nav-burger
  order: 2
  margin-left: auto
  width: 30px
  height: 12px
  position: relative
  border-top: 2px solid $dark-blue
  z-index: 9
  transition: border .4s ease-in-out
  cursor: pointer

.nav-burger:after, .nav-burger:before
  content: ''
  width: 100%
  height: 2px
  background-color: $dark-blue
  position: absolute

.nav-burger:after
  bottom: 0
  left: 0
  width: 60%
  transition: background-color .4s ease-in-out, width .4s ease-in-out

.nav-burger:before
  top: 4px
  left: 0
  transition: background-color .4s ease-in-out

.js-nav-burger-expand:after
  width: 100%

// sets different color for cocktails page
.js-navBurger-darkBlue
  border-top: 2px solid $dark-blue !important

.js-navBurger-darkBlue:after, .js-navBurger-darkBlue:before
  background-color: $dark-blue !important

@media (min-width: 900px)
  .nav-burger
    display: none

// End Nav-burger

// Mobile nav
.nav-mobile
  width: 100vw
  height: 100vh
  background-color: $pink
  position: fixed
  z-index: 3
  top: 0
  right: 0
  bottom: 0
  left: 0
  transform: translateY(-100%)

  display: flex
  justify-content: center
  align-items: center

  .logo
    img
      width: 170px

  ul
    text-align: center
    text-transform: uppercase
    li
      margin-bottom: 1em
      letter-spacing: .123em
      a
        text-decoration: none
        color: $dark-blue
      a:hover
        color: $purple
    li:first-child
      margin-bottom: 2em
      letter-spacing: .141em
    .logo
      a
        color: $white

@supports (font-size: calc(100% * 1.1))
  .nav-mobile
    ul
      font-size: calc(100% * 1.1)
      .logo
        a
          font-size: (100% * 1.1)

@media (min-width: 450px)
  .nav-mobile
    .logo
      img
        width: 200px

.js-nav-mobile-transition
  transition: transform .4s ease-in-out

.js-nav-mobile-show
  transform: translateY(0vh)

// Footer nav
footer
  .nav-footer
    ul
      // margin: 0 auto
      text-align: center
      display: flex
      flex-direction: row
      li
        margin-left: 1em
      li:nth-child(1)
        margin-left: 0

// Card
%card-styles
  max-width: 484px
  background-color: $light-gray
  border-radius: 5px
  margin-bottom: 1.5em
  // padding: 3em
  // padding-bottom: 2em
  display: flex
  align-items: center

.card-margin-container
  position: relative
  display: inline-block
  padding: 2em

/* =====================================
 * PAGES
 * ================================== */

/* || HOMEPAGE */
.preloader
  width: 100%
  height: 100%
  position: absolute
  background-color: $pink
  z-index: 99
  opacity: 1
  transition: opacity 1.5s

.js-preloader-invisible
  opacity: 0

.js-preloader-remove
  display: none

.home
  background-color: $pink

.hero-section-homepage
  background-image: linear-gradient(rgba(255, 255, 254, 0.63), rgba(255, 255, 254, 0.63)), url(../img/hero1.jpg)
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  .margin-container
    text-align: center

.headings-wrap-landing
  position: relative
  text-align: center
  background-color: $white
  opacity: .72
  display: inline-block
  padding: 1.5em 2.5em
  border-radius: 10px

  h1, h3
    margin: 0

  h1:nth-child(3)
    margin-bottom: .2em

  // TO-DO: take out
  // h1:nth-child(1)
  //   margin-bottom: 0

  // h1:nth-child(2)
  //   margin: 0

  // h1:nth-child(3)
  //   margin-top: 0

  // h3
  //   margin-top: -1.3em

.js-zero-opacity
  opacity: 0

.js-full-opacity
  opacity: 1

.js-94-opacity
  opacity: .94

.js-end-show
  opacity: 1
  transition: opacity .8s ease-in-out

.js-color-transition
  transition: color .2s ease-in-out !important

// @media (min-width: 450px)      //TODO: take out
//   .hero-section-homepage
//     img
//       max-width: 505px
//       left: 40vw

@media (min-width: 900px)
  .hero-section-homepage
    .margin-container
      padding-top: 4.8em
      padding-bottom: 6.8em

    // img                  //TODO: take out
    //   max-width: 885px

.contact-info
  background-color: $dark-blue
  color: $white
  margin-bottom: 6em

@media (min-width: 900px)
  .contact-info
    .margin-container
      display: flex
      justify-content: space-between
      padding-top: 1.2em
      padding-bottom: 1.2em
      margin-bottom: 10em

.phone,
.email
  @extend %body-shared
  display: inline-block // needed for js-animation

.services
  margin-bottom: 6em

  h4
    margin-bottom: 4em

  .card-container-services
    background-color: red
    background-image: url("../img/mixed-drinks.jpg")
    background-repeat: no-repeat
    // background-attachment: fixed  // TODO: take out
    background-position: center
    background-size: cover
    padding: 10px
    border-radius: 8px

  .card
    @extend %card-styles
    background-color: $white
    display: block // so events card scales properly in IE for vp > 900

    a
      text-decoration: underline
      color: $purple

@media (min-width: 900px)
  .reservations
    text-align: center

  .hours
    display: block
    text-align: center

  .services
    .card-container-services
      display: flex
      padding: 50px

  .card-events
    align-self: center
    margin-right: 40px

.contact-form
  margin-bottom: 6em

.form-email, .form-subject
  display: flex

  h4
    width: 8em
    opacity: .7
    color: $dark-blue

  input
    @extend %body-shared
    font-weight: 400
    height: 1.3em

    border: none
    outline: none

    background-color: $pink
    width: 100%
    max-width: 350px
    margin-top: .7em

  input::placeholder
    color: $dark-blue
    font-weight: 400
    opacity: .7

.form-subject, .form-text
  margin-bottom: 1.6em

textarea
  @extend %h1-to-h3-styles
  font-size: 1.74em
  // min-height: 3em
  max-height: 40vh
  width: 100%
  max-width: 900px
  background-color: $pink
  border: none
  box-shadow: none
  resize: none
  outline: none

textarea::placeholder
  color: $dark-blue
  opacity: 1
  transition: opacity .3s ease

textarea:hover::placeholder
  opacity: .6

.form-submit
  input
    transition: opacity .1s ease
  input:hover
    opacity: 1

@media (min-width: 900px)
  textarea
    min-height: 3em

/* || ABOUT */
.about
  background-color: $pink

.hero-section-about
  height: 160px

  .margin-container
    padding: 0
    height: 100%
    display: flex
    align-items: flex-end

  .hero-image-wrap
    height: 160px
    background-image: url(../img/hero-about2.jpg)
    background-size: cover
    width: 100%
    position: absolute
    z-index: -1

  h2
    margin: 0 0 -5px

@media (min-width: 450px)
  .hero-section-about
    height: 15.5rem

    .hero-image-wrap
      height: 15.5rem

    h2
      margin: 83px 0 0

@media (min-width: 900px)
  .hero-section-about
    padding-top: 60px

    .margin-container
      margin-top: 170px
      display: block
      padding: $large-top-bottom-padding $large-side-padding

    .hero-image-wrap
      max-width: 1264px
      left: 50%
      -webkit-transform: translateX(-50%)
      transform: translateX(-50%)

@media (min-width: 1280px)
  .hero-section-about
    .hero-image-wrap
      border-radius: 5px

.testimonials-section
  margin-bottom: 3.8em
  .headings-container
    display: flex
    .icon-bubbles2
      padding: 0 0 0 .8em
      color: $white
      font-size: 3rem
      margin-top: -.3em
  p
    margin-top: -.4em

  .headings-testimonials
    margin-bottom: 2em

  .testimonial-box
    @extend %card-styles
    position: relative
    z-index: -2

    .card-margin-container
      padding: 3em
      padding-bottom: 2em

      .icon-quotes-left
        position: absolute
        top: .45em
        left: .7em
        font-size: 3rem
        color: $purple
        z-index: -1
        opacity: .16

      .client-name
        text-align: right

@media (min-width: 900px)
  .testimonials-section
    .testimonials-grid
      width: 46%
      float: left
      margin-right: 2vw

    @supports (display: grid)
      // Undo non-supporting grid browsers.
      %card-styles
        max-width: none
        margin: 0

      .js-slider-window    // height set via js
        position: relative
        overflow: hidden

      .js-testimonials-container
        position: relative
        display: flex
        justify-content: space-between
        width: 200% /* adjust depending on belt-items*/

      .js-belt-transition
        transition: transform 300ms ease-in-out

      .testimonials-grid
        // Undo non-supporting grid browsers.
        width: 100%
        margin: 0

        // Let's Grid
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 30px
        margin-bottom: 30px

      .testimonials-grid:nth-of-type(1)
        .testimonial-box:nth-child(3)
          grid-column: 1/3

      .testimonials-grid:nth-of-type(2)
        .testimonial-box:nth-child(2)
          grid-column: 2/3
          grid-row: 1/3
        .testimonial-box:nth-child(1)
          grid-row: 1/2
        .testimonial-box:nth-child(3)
          grid-row: 2/3

.js-arrow-back
  cursor: url(../img/back.png) 15 18, auto
  cursor: url(../img/back.cur), auto

.js-arrow-next
  cursor: url(../img/next.png) 15 18, auto
  cursor: url(../img/next.cur), auto

.about-wendy-section
  background-color: $dark-blue
  color: $light-purple

  .margin-container
    padding-top: 4.5em
    padding-bottom: 6.5em

  h2
    color: $white

  .about-wendy-grid
    display: flex
    flex-direction: column

    .about-wendy-text
      order: 1
      margin: .7em 0

    .wendy-img-box:nth-child(2)
      order: 0

      .img-wrap
        padding-bottom: 60%

        background-image: url(../img/wendy_smiling.jpg)
        background-size: cover
        background-position: center
        border-radius: 5px

    .wendy-img-box:nth-child(3)
      order: 3

      img
        width: 21.7rem
        border-radius: 5px

@media (min-width: 450px)
  .about-wendy-section
    .about-wendy-grid
      display: block

      .about-wendy-text
        margin: 0 0 2em 0

      .wendy-img-box:nth-child(2)
        width: 27vw
        margin-bottom: 30px
        float: left
        margin-right: 2vw

        .img-wrap
          padding-bottom: 67%

      .wendy-img-box:nth-child(3)
        img
          width: 45vw
          border-radius: 5px

  @supports (display: grid)
    // Undo non-supporting grid browsers.
    .about-wendy-section
      .about-wendy-grid
        .about-wendy-text
          margin: 0
        .wendy-img-box:nth-child(2)
          margin: 0

    // Let's Grid
    .about-wendy-section
      .about-wendy-grid
        display: grid
        grid-template-columns: 1fr 1fr
        row-gap: 2rem
        column-gap: .9rem

        .about-wendy-text
          grid-column: 1/3
          grid-row: 1/2

        .wendy-img-box:nth-child(2)
          grid-column: 1/2
          grid-row: 2/3
          justify-self: end

        .wendy-img-box:nth-child(3)
          grid-column: 2/3
          grid-row: 2/3

@media (min-width: 900px)
  .about-wendy-section
    .about-wendy-grid
      .about-wendy-text
        max-width: 496px

      .wendy-img-box:nth-child(2)
        max-width: 300px

      .wendy-img-box:nth-child(3)
        max-width: 500px
        float: left

  @supports (display: grid)
    // Let's Grid
    .about-wendy-section
      .about-wendy-grid
        .about-wendy-text
          grid-column: 1/2

/* || COCKTAILS */
.cocktails
  background-color: $dark-blue

  header
    background-color: $dark-blue

    .nav-burger
      border-top: 2px solid $light-gray

    .nav-burger:after, .nav-burger:before
      background-color: $light-gray

    a
      color: $light-gray

    a:hover, a:focus
      color: $purple

    .logo
      a
        color: $white

.hero-section-cocktails
  height: 160px

  .margin-container
    padding: 0
    height: 100%
    display: flex
    align-items: flex-end

  .hero-image-wrap
    height: 160px
    background-image: linear-gradient(rgba(217, 212, 231, .85), rgba(217, 212, 231, .85)), url(../img/cocktails.jpg)
    background-size: cover
    width: 100%
    position: absolute
    z-index: -1

@media (min-width: 450px)
  .hero-section-cocktails
    height: 15.5rem

    .hero-image-wrap
      height: 15.5rem

    h2
      margin-bottom: 40px

@media (min-width: 900px)
  .hero-section-cocktails
    padding-top: 60px

    .margin-container
      margin-top: 170px
      display: block
      padding: $large-top-bottom-padding $large-side-padding

    .hero-image-wrap
      max-width: 1264px
      left: 50%
      -webkit-transform: translateX(-50%)
      transform: translateX(-50%)

@media (min-width: 1280px)
  .hero-section-cocktails
    .hero-image-wrap
      border-radius: 5px

.menu-section
  margin-bottom: 6em

  p
    color: $light-gray
    margin-bottom: 4.5em

  h4
    color: $white

  .js-h4
    border-bottom: 1px solid $dark-blue
    transition: border-bottom .2s ease-in-out

  .js-h4-hover
    border-bottom: 1px solid $purple
    cursor: pointer

  .js-alcohol-headings
    li
      margin-right: 2em

  .alcohol-heading
    margin: 4em 0 2em

  .js-selected
    border-bottom: 1px solid $purple

  .drink-box
    @extend %card-styles
    background-color: $light-purple

@media (min-width: 450px)
  .menu-section
    .js-alcohol-headings
      li
        margin-right: 3em

@media (min-width: 900px)
  .menu-section
    .drink-box
      width: 46%
      float: left
      margin-right: 2vw

    @supports (display: grid)
      // Undo non-supporting grid browsers.
      %card-styles
        max-width: none
        margin: 0

      .belt-slider
        position: relative
        display: flex
        justify-content: space-between
        // width: 200%   /* adjust depending on belt-items; set via js*/

      .belt-slider-absolute
        position: absolute

      .js-belt-transition
        transition: transform 300ms ease-in-out

      .drinks-grid
        // Let's Grid
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 30px // TODO: chnage units
        margin-bottom: 30px

        .drink-box
          width: 100%

      .drinks-grid:nth-of-type(1)
        .drink-box:nth-child(3)
          grid-column: 1/3

          .card-margin-container
            margin: 0 auto

          ul
            display: flex
            li
              margin-right: 3em

      .drinks-grid:nth-of-type(3)
        .drink-box:nth-child(2)
          grid-column: 2/3
          grid-row: 1/3
        .drink-box:nth-child(1)
          grid-row: 1/2
        .drink-box:nth-child(3)
          grid-row: 2/3

.cocktail-finder-section
  background-image: linear-gradient(rgba(254, 199, 215, 0.36), rgba(254, 199, 215, 0.36)), url(../img/cocktail-finder-bg-large.jpg)

  .margin-container:nth-of-type(1)
    padding-top: 4.5em

    .cocktail-finder-search-background
      display: inline-block
      background-color: rgba(249, 248, 252, .94)
      padding: 2em
      border-radius: 5px

    p
      max-width: 490px

  .margin-container:nth-of-type(2)
    padding-bottom: 6.5em

  .error-message-input, .error-message-server
    color: $purple
    font-style: italic
    font-weight: 400

  form
    margin-top: 1.8em
    display: flex
    flex-direction: column
    max-width: 496px

    input
      @extend %body-shared
      height: 3.2rem
      border: none
      outline: none
      border-radius: 5px
      background-color: $light-purple

    .ingredient-input
      margin-bottom: 1em
      padding-left: 1.8em

    .btn_2
      margin-left: auto
      height: 2rem
      width: 5.6rem
      color: $light-purple
      background-color: rgba(167, 134, 223, .73)
      font-weight: 600
      line-height: 1.5
      font-size: .78rem
      cursor: pointer
      letter-spacing: .123em

  .beverage-list-container,
  .beverage-details-container
    @extend %card-styles
    background-color: $light-purple

  .hide-beverage-container
    display: none

  .beverage-list-container
    align-items: start
    font-size: .78rem

    .card-margin-container
      padding: 1rem 0
      width: 100%

      .heading-container
        text-align: center

    .drinks-wrap
      display: flex
      justify-content: space-between
      align-items: center

    .drinks-slide
      display: flex
      justify-content: space-between
      order: 1

      ul
        text-align: center

      li
        border-radius: 5px
        background-color: $light-gray
        padding: .8em
        margin: 1em .5em
        cursor: pointer
        transition: .1s ease-in-out

      li:hover
        background-color: rgba(167, 134, 223, .73)
        color: $light-gray

    .btn_back,
    .btn_forward
      width: 2.8rem
      height: 2.8rem
      color: $light-gray
      cursor: pointer

    .btn_back
      order: 0

      .material-icons-round
        font-size: 2.5rem

    .btn_forward
      order: 2
      display: flex

      .material-icons-round
        font-size: 2.5rem

  .beverage-details-container
    transition: opacity .7s

    .quick-fader-show
      opacity: 1
      transition: opacity 1s

    .quick-fader-hide
      opacity: 0
      transition: opacity .1s

    .heading-container
      text-align: center

    .beverage-details-wrap
      margin-bottom: 30px

    .beverage-image-wrap
      margin-bottom: 30px
    img
      border-radius: 5px
      border: 0.09rem solid $dark-blue
      width: 75%
      margin: 0 auto

    ul
      li
        font-size: .85rem
        font-weight: 300

    .directions-wrap
      p
        font-size: .85rem
        font-weight: 300

@media (min-width: 900px)
  .cocktail-finder-section
    background-size: 100%

    .margin-container:nth-of-type(2)
      //max-width: 1520px  // TODO: add via JS, when drinks details are displayed; and add transition to margin container via JS.
      display: flex
      justify-content: space-between
      transition: .4s ease-in-out

    .js-max-width
      max-width: 1520px

    .beverage-list-container,
    .beverage-details-container
      max-width: none

    .beverage-list-container
      align-self: flex-start
      margin-right: 10px
      min-width: 400px

      .drinks-wrap
        li
          font-weight: 300

    .beverage-details-container
      align-items: flex-start
      width: 100%

      .card-margin-container
        padding-top: 1em
        padding-bottom: 1.5em
        width: 100%

        img
          width: 360px

@media (min-width: 1000px)
  .cocktail-finder-section
    .beverage-list-container
      margin-right: 60px

@media (min-width: 1450px)   // was 1690
  .cocktail-finder-section
    .beverage-details-container
      .card-margin-container
        padding: 1em 1.5em
        .beverage-details-wrap
          display: flex
          justify-content: center
          margin-top: 60px
          margin-bottom: 50px

        .beverage-image-wrap
          margin-bottom: 0
          margin-right: 30px

        .ingredients-list-wrap
          display: flex
          flex-direction: column
          justify-content: center

        .directions-wrap
          max-width: 650px
          margin: 0 auto

/* || FAQ */

.faq
  background-color: $pink

  .intro-section-faq
    p
      max-width: 27rem

  .hero-section-faq
    height: 200px
    background-image: linear-gradient(rgba(255, 255, 254, 0.1), rgba(255, 255, 254, 0.1)), url(../img/hero-faq.jpg)

    background-size: cover
    margin-bottom: 2em

  @media (min-width: 450px)
    .hero-section-faq
      height: 300px

  @media (min-width: 800px)
    .hero-section-faq
      background-position: center

  @media (min-width: 900px)
    .hero-section-faq
      height: 460px
      background-position: unset

  @media (min-width: 1250px)
    .hero-section-faq
      background-position: center

  .qa-section
    margin-bottom: 7rem

  .qa-container
    background-color: $light-gray
    border-radius: 5px

  .card-margin-container
    padding: 2em 0.7em

  .qa
    border-bottom: 1px solid $light-purple
    margin-bottom: 1.4em

  .qa:last-child
    border: none
    margin-bottom: 0

    p
      margin-bottom: 0

  .question-container
    // display: flex  // if we do use flex (e.g. if using add-symbol to expand answer) set card-margin-container to block
    justify-content: space-between
    align-items: center

    h3
      margin: 0 1.47em 0 0 // if plus sign is added
      margin: 0

  .add-icon
    font-size: 1.95rem
    color: $light-gray
    display: none

  @media (min-width: 450px)
    .qa-container
      padding: 2em

    .card-margin-container
      padding: 0
      width: 100%

    .answer-container
      p
        max-width: 540px

  @media (min-width: 900px)
    .hero-section-faq
      margin-bottom: 3em

    .qa-container
      padding: 3em 5em

    .answer-container
      p
        max-width: 624px

/* || CONTACT */

.contact
  background-color: $pink

  main
    margin-top: 3em

  @media (min-width: 900px)
    .contact-form
      margin-top: 5.9em

  .contact-section
    margin-bottom: 6em

    .contact-info-wrap
      max-width: 496px

  .email-address
    display: block
    margin-bottom: 3em
