/* =====================================
 * * NORMALIZE
 * * ================================== */
html,
body {
  margin: 0;
  pading: 0;
  box-sizing: border-box;
}

/* =====================================
 * * SASS VARIABLES
 * * ================================== */
/* =====================================
 * * GENERAL
 * * ================================== */
html {
  font-size: 17px;
}

@media (min-width: 450px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 23px;
  }
}
.form-email input, .form-subject input, .phone,
.email, footer .footer-contact h4, body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 300;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

/* =====================================
 * * UTILITIES
 * * ================================== */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none;
}

.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

/* =====================================
 * * TYPOGRAPHY
 * * ================================== */
textarea, h1, h2, h3 {
  font-family: "Sriracha", serif;
  line-height: 1.4;
  font-weight: 400;
  margin: 0.87em 0;
}

h1 {
  font-size: 2.83rem;
  font-size: 2.4rem;
}

@media (min-width: 900px) {
  h1 {
    font-size: 2.83rem;
  }
}
h2 {
  font-size: 1.74rem;
}

h3 {
  font-size: 1.22rem;
}

h4 {
  font-size: 0.78rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.123em;
  text-transform: uppercase;
  margin: 1.1em 0;
}

p {
  line-height: 1.4;
}

.logo {
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.141em;
  line-height: 1.4em;
  text-transform: uppercase;
  color: #FFFFFE;
}
.logo a {
  font-size: 1rem;
  color: #FFFFFE;
}

.logo a:hover, .logo a:focus {
  color: #FFFFFE;
}

.small {
  font-size: 0.7rem;
  line-height: 1.3;
  font-weight: 400;
}

a {
  font-weight: 400;
  color: #A786DF;
  text-decoration: underline;
}

.btn_1 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background-color: #FEC7D7;
  padding: 0;
  margin: 1.1em 0;
  opacity: 0.7;
  cursor: pointer;
}

.btn_2 {
  font-size: 0.78rem;
  line-height: 1.5;
  font-weight: 600;
  cursor: pointer;
}

.attention {
  font-size: 0.61rem;
  line-height: 1.4;
  font-weight: 400;
}

li {
  font-weight: 400;
}

/* =====================================
 * * SITEWIDE
 * * ================================== */
/* || LAYOUT */
.margin-container {
  margin: 0 1.47em;
  padding: 1.47em 0;
}

@media (min-width: 450px) {
  .margin-container {
    margin: 0 10%;
    padding: 2em 0;
  }
}
@media (min-width: 900px) {
  .margin-container {
    margin: 0 auto;
    padding: 2em 13%;
    max-width: 1008px;
  }
}
/* || HEADER */
header {
  background-color: #FEC7D7;
}

@media (min-width: 900px) {
  header {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  header .margin-container {
    max-width: 100%;
    margin: 0 75px 20px 75px;
    padding: 0;
  }
}
/* || FOOTER */
footer {
  background-color: #FFFFFE;
  padding-top: 1.76em;
}
footer .logo-footer {
  color: #0E172C;
  margin-bottom: 1.3em;
}
footer .footer-top-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 6em;
}
footer .footer-contact h2 {
  margin-bottom: 0;
}
footer .footer-contact h4 {
  margin-top: 0.1em;
  color: #0E172C;
  text-decoration: none;
}

@media (min-width: 900px) {
  footer .margin-container {
    padding-bottom: 1em;
    padding-left: 8%;
    padding-right: 8%;
    max-width: 1520px;
  }
  footer .footer-top-row {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6.5em;
  }
  footer .footer-contact {
    text-align: right;
  }
  footer .footer-contact h2 {
    margin-top: -5px;
  }
  footer .nav-footer ul {
    margin: 0 auto;
  }
}
/* || COMPONENTS */
nav {
  display: flex;
}
nav ul {
  display: flex;
  flex-direction: column;
}
nav a {
  font-size: 0.74rem;
  line-height: 1.3;
  font-weight: 400;
  color: #0E172C;
  text-decoration: none;
}
nav a:hover, nav a:focus {
  color: #A786DF;
}

@media (min-width: 900px) {
  .nav-main ul {
    width: 100%;
    flex-direction: row;
  }
  .nav-main ul li:nth-child(1) {
    order: 3;
    margin: 0 auto;
    align-self: flex-end;
  }
  .nav-main ul li:nth-child(2) {
    order: 1;
    margin-right: 43px;
  }
  .nav-main ul li:nth-child(3) {
    order: 2;
  }
  .nav-main ul li:nth-child(4) {
    order: 4;
    margin-right: 43px;
  }
  .nav-main ul li:nth-child(5) {
    order: 5;
  }
}
.nav-burger {
  order: 2;
  margin-left: auto;
  margin-top: 0.16rem;
  width: 30px;
  height: 12px;
  position: relative;
  border-top: 2px solid #0E172C;
}

.nav-burger:after, .nav-burger:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #0E172C;
  position: absolute;
}

.nav-burger:after {
  bottom: 0;
  left: 0;
  width: 60%;
  transition: width 0.2s ease-in-out;
}

.nav-burger:before {
  top: 4px;
  left: 0;
}

footer .nav-footer ul {
  text-align: center;
  display: flex;
  flex-direction: row;
}
footer .nav-footer ul li {
  margin-left: 1em;
}
footer .nav-footer ul li:nth-child(1) {
  margin-left: 0;
}

.testimonials-section .testimonial-box, .services .card {
  max-width: 484px;
  background-color: #F9F8FC;
  border-radius: 5px;
  margin-bottom: 1.5em;
  padding: 3em;
  padding-bottom: 2em;
}

/* =====================================
 * * PAGES
 * * ================================== */
/* || HOMEPAGE */
.home {
  background-color: #FEC7D7;
}

.hero-section-homepage {
  background-color: #D9D4E7;
}
.hero-section-homepage img {
  position: absolute;
  left: 105px;
  min-width: 405px;
  max-width: 405px;
}

.headings-wrap-landing {
  position: relative;
}
.headings-wrap-landing h3 {
  margin-top: -1.3em;
}

@media (min-width: 450px) {
  .hero-section-homepage img {
    max-width: 505px;
    left: 40vw;
  }
}
@media (min-width: 900px) {
  .hero-section-homepage .margin-container {
    padding-top: 4.8em;
    padding-bottom: 6.8em;
  }
  .hero-section-homepage img {
    max-width: 885px;
  }
}
.contact-info {
  background-color: #FFFFFE;
  margin-bottom: 6em;
}

@media (min-width: 900px) {
  .contact-info .margin-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    margin-bottom: 10em;
  }
}
.services {
  margin-bottom: 6em;
}
.services h4 {
  margin-bottom: 4em;
}
.services .card {
  background-color: #FFFFFE;
  padding: 2em;
}

@media (min-width: 900px) {
  .reservations {
    text-align: center;
  }

  .hours {
    display: block;
    text-align: center;
  }

  .card-container-services {
    display: flex;
  }

  .card-events {
    align-self: center;
    margin-right: 40px;
  }
}
.contact-form {
  margin-bottom: 6em;
}

.form-email, .form-subject {
  display: flex;
}
.form-email h4, .form-subject h4 {
  width: 8em;
  opacity: 0.7;
}
.form-email input, .form-subject input {
  font-weight: 400;
  height: 1.3em;
  border: none;
  outline: none;
  background-color: #FEC7D7;
  width: 100%;
  max-width: 350px;
  margin-top: 0.7em;
}

.form-subject, .form-text {
  margin-bottom: 1.6em;
}

textarea {
  font-size: 1.74em;
  height: 2.8em;
  width: 100%;
  max-width: 900px;
  background-color: #FEC7D7;
  border: none;
  box-shadow: none;
  resize: none;
  outline: none;
}

textarea::placeholder {
  color: #0E172C;
  opacity: 1;
}

/* || ABOUT */
.about {
  background-color: #FEC7D7;
}

.hero-section-about {
  height: 160px;
}
.hero-section-about .margin-container {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.hero-section-about .hero-image-wrap {
  height: 160px;
  background-image: linear-gradient(rgba(217, 212, 231, 0.85), rgba(217, 212, 231, 0.85)), url(../img/hero_about.jpg);
  background-size: cover;
  width: 100%;
  position: absolute;
  z-index: -1;
}

@media (min-width: 450px) {
  .hero-section-about {
    height: 15.5rem;
  }
  .hero-section-about .hero-image-wrap {
    height: 15.5rem;
  }
  .hero-section-about h2 {
    margin-bottom: 40px;
  }
}
@media (min-width: 900px) {
  .hero-section-about {
    padding-top: 60px;
  }
  .hero-section-about .margin-container {
    margin-top: 170px;
    display: block;
    padding: 2em 13%;
  }
  .hero-section-about .hero-image-wrap {
    max-width: 1264px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media (min-width: 1280px) {
  .hero-section-about .hero-image-wrap {
    border-radius: 5px;
  }
}
.testimonials-section {
  margin-bottom: 3.8em;
}
.testimonials-section .headings-container {
  display: flex;
}
.testimonials-section .headings-container .icon-bubbles2 {
  padding: 0 0 0 0.8em;
  color: #FFFFFE;
  font-size: 3rem;
  margin-top: -0.3em;
}
.testimonials-section p {
  margin-top: -0.4em;
}
.testimonials-section .headings-testimonials {
  margin-bottom: 2em;
}
.testimonials-section .testimonial-box {
  position: relative;
  z-index: -2;
}
.testimonials-section .testimonial-box .icon-quotes-left {
  position: absolute;
  top: 0.45em;
  left: 0.7em;
  font-size: 3rem;
  color: #A786DF;
  z-index: -1;
  opacity: 0.16;
}
.testimonials-section .testimonial-box .client-name {
  text-align: right;
}

@media (min-width: 900px) {
  .testimonials-section .testimonials-grid {
    width: 46%;
    float: left;
    margin-right: 2vw;
  }
}
.about-wendy-section {
  background-color: #0E172C;
  color: #D9D4E7;
}
.about-wendy-section .margin-container {
  padding-top: 4.5em;
  padding-bottom: 6.5em;
}
.about-wendy-section h2 {
  color: #FFFFFE;
}
.about-wendy-section .about-wendy-grid {
  display: flex;
  flex-direction: column;
}
.about-wendy-section .about-wendy-grid .about-wendy-text {
  order: 1;
}
.about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(2) {
  order: 0;
}
.about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(2) .img-wrap {
  padding-bottom: 60%;
  background-image: url(../img/wendy_smiling.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(3) {
  order: 3;
}
.about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(3) img {
  width: 21.7rem;
  border-radius: 5px;
}

@media (min-width: 450px) {
  .about-wendy-section .about-wendy-grid {
    display: block;
  }
  .about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(2) {
    width: 27vw;
    margin-bottom: 30px;
    float: left;
    margin-right: 2vw;
  }
  .about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(3) img {
    width: 45vw;
    border-radius: 5px;
  }
}
@media (min-width: 900px) {
  .about-wendy-section .about-wendy-grid .about-wendy-text {
    max-width: 496px;
  }
  .about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(2) {
    max-width: 300px;
  }
  .about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(3) {
    max-width: 500px;
    float: left;
  }
}

/*# sourceMappingURL=style.css.map */
