/* =====================================
 * NORMALIZE
 * ================================== */
html,
body
  margin: 0
  pading: 0
  box-sizing: border-box


/* =====================================
 * SASS VARIABLES
 * ================================== */
$heading-font: 'Sriracha', serif
$main-font: 'Source Sans Pro', sans-serif
$logo-font: 'Nunito', sans-serif

$dark-blue: #0E172C
$light-purple: #D9D4E7
$light-gray: #F9F8FC
$pink: #FEC7D7
$purple: #A786DF
$white: #FFFFFE

$mobile-side-margin: 1.47em

/* =====================================
 * GENERAL
 * ================================== */
html
  font-size: 17px

%body-shared
  font-family: $main-font
  font-size: 1rem
  line-height: 1.6
  font-weight: 300
  overflow-x: hidden

body
  @extend %body-shared

img
  max-width: 100%
  display: block

/* =====================================
 * UTILITIES
 * ================================== */
ul
  list-style-type: none
  margin: 0
  padding: 0

a
  text-decoration: none
  color: inherit

.hide
  display: none

/* =====================================
 * TYPOGRAPHY
 * ================================== */
%h1-to-h3-styles
  font-family: $heading-font
  line-height: 1.4
  font-weight: 400
  margin: .87em 0

h1, h2, h3
  @extend %h1-to-h3-styles

h1
  font-size: 2.83rem
  font-size: 2.4rem

h2
  font-size: 1.74rem

h3
  font-size: 1.22rem

h4
  font-size: .78rem
  line-height: 1.5
  font-weight: 400
  letter-spacing: .123em
  text-transform: uppercase
  margin: 1.1em 0

p
  line-height: 1.4

.logo
  font-family: $logo-font
  letter-spacing: .141em
  line-height: 1.4em
  text-transform: uppercase
  color: $white
  a
    font-size: 1rem
    color: $white

.logo a:hover, .logo a:focus
  color: $white

.small 
  font-size: .7rem
  line-height: 1.3
  font-weight: 400

a
  font-weight: 400
  color: $purple
  text-decoration: underline

.btn_1
  font-size: 1rem
  line-height: 1.5
  font-weight: 400
  letter-spacing: .2em
  text-transform: uppercase
  border: none
  background-color: $pink
  padding: 0
  margin: 1.1em 0
  opacity: .7
  cursor: pointer

.btn_2
  font-size: .78rem
  line-height: 1.5
  font-weight: 600
  cursor: pointer

.attention
  font-size: .61rem
  line-height: 1.4
  font-weight: 400

li
  font-weight: 400
/* =====================================
 * SITEWIDE
 * ================================== */

/* || LAYOUT */

.margin-container
  margin: 0 $mobile-side-margin
  padding: $mobile-side-margin 0


/* || HEADER */
header
  background-color: $pink


/* || FOOTER */


/* || COMPONENTS */
nav 
  display: flex
  // flex-direction: column

  ul
    display: flex
    flex-direction: column

  a
    font-size: .74rem
    line-height: 1.3
    font-weight: 400
    color: $dark-blue
    text-decoration: none

  a:hover, a:focus
    color: $purple

// Start Nav-burger
.nav-burger
  order: 2
  margin-left: auto
  margin-top: .16rem

  width: 30px
  height: 12px
  position: relative
  border-top: 2px solid $dark-blue

.nav-burger:after, .nav-burger:before
  content: ''
  width: 100%
  height: 2px
  background-color: $dark-blue
  position: absolute

.nav-burger:after
  bottom: 0
  left: 0
  width: 60%
  transition: width .2s ease-in-out

.nav-burger:before
  top: 4px
  left: 0

// End Nav-burger

// Card
.card
  max-width: 484px
  background-color: $white
  border-radius: 5px
  padding: 1em 1.5em
  margin-bottom: 1.5em


/* =====================================
 * PAGES
 * ================================== */

/* || HOMEPAGE */
.home
  background-color: $pink

.hero-section
  background-color: $light-purple

.headings-wrap-landing
  position: relative

img
  position: absolute
  left: 105px
  min-width: 405px
  // border: 1px solid red   TODO: take out

.headings-wrap-landing
  h3
    margin-top: -1.3em

.contact-info
  background-color: $white
  margin-bottom: 6em

.phone,
.email
  @extend %body-shared

.reservations
  // text-align: center

.services
  margin-bottom: 6em

  h4
    margin-bottom: 3.4em

.contact-form
  margin-bottom: 6em

.form-email, .form-subject
  display: flex

  h4
    width: 8em
    opacity: .7

  input
    @extend %body-shared
    font-weight: 400
    height: 1.3em

    border: none
    outline: none

    background-color: $pink
    width: 100%
    max-width: 350px
    margin-top: .7em


textarea
  @extend %h1-to-h3-styles
  font-size: 1.74em
  height: 130px
  width: 100%
  background-color: $pink
  border: none
  box-shadow: none
  resize: none
  outline: none

textarea::placeholder
    color: $dark-blue
    opacity: 1

footer
  background-color: $white
  padding-top: 1.76em

  .logo-footer
    color: $dark-blue
    margin-bottom: 1.3em

  .footer-top-row
    display: flex
    flex-direction: column
    margin-bottom: 6em

  .footer-contact
    h2
      margin-bottom: 0
    h4
      @extend %body-shared
      margin-top: .1em
      color: $dark-blue
      text-decoration: none

  .nav-footer
    ul
      // margin: 0 auto
      text-align: center
      display: flex
      flex-direction: row
      li
        margin-left: 1em
      li:nth-child(1)
        margin-left: 0