/* =====================================
 * * NORMALIZE
 * * ================================== */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* =====================================
 * * SASS VARIABLES
 * * ================================== */
/* =====================================
 * * GENERAL
 * * ================================== */
html {
  font-size: 17px;
}

@media (min-width: 450px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 23px;
  }
}
.cocktail-finder-section form input, .form-email input, .form-subject input, .phone,
.email, footer .footer-contact h4, body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 300;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

/* =====================================
 * * UTILITIES
 * * ================================== */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none;
}

.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

/* =====================================
 * * TYPOGRAPHY
 * * ================================== */
textarea, h1, h2, h3 {
  font-family: "Sriracha", serif;
  line-height: 1.4;
  font-weight: 400;
  margin: 0.87em 0;
}

h1 {
  font-size: 2.83rem;
  font-size: 2.4rem;
}

@media (min-width: 900px) {
  h1 {
    font-size: 2.83rem;
  }
}
h2 {
  font-size: 1.74rem;
}

h3 {
  font-size: 1.22rem;
}

h4 {
  font-size: 0.78rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.123em;
  text-transform: uppercase;
  margin: 1.1em 0;
}

p {
  line-height: 1.4;
}

.logo {
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.141em;
  line-height: 1.4em;
  text-transform: uppercase;
  color: #FFFFFE;
}
.logo a {
  font-size: 1rem;
  color: #FFFFFE;
}

.logo a:hover, .logo a:focus {
  color: #FFFFFE;
}

.small {
  font-size: 0.7rem;
  line-height: 1.3;
  font-weight: 400;
}

a {
  font-weight: 400;
  color: #A786DF;
  text-decoration: underline;
}

.btn_1 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background-color: #FEC7D7;
  padding: 0;
  margin: 1.1em 0;
  opacity: 0.7;
  cursor: pointer;
}

.attention {
  font-size: 0.61rem;
  line-height: 1.4;
  font-weight: 400;
}

li {
  font-weight: 400;
}

/* =====================================
 * * SITEWIDE
 * * ================================== */
/* || LAYOUT */
.margin-container {
  margin: 0 1.47em;
  padding: 1.47em 0;
}

@media (min-width: 450px) {
  .margin-container {
    margin: 0 10%;
    padding: 2em 0;
  }
}
@media (min-width: 900px) {
  .margin-container {
    margin: 0 auto;
    padding: 2em 7%;
    max-width: 1008px;
  }
}
/* || HEADER */
header {
  box-sizing: border-box;
  background-color: #FEC7D7;
  width: 100%;
  padding: 1.47em;
  display: flex;
  align-items: center;
  z-index: 8;
}

.js-header-transition {
  transition: transform 0.4s ease-in-out;
}

@media (min-width: 450px) {
  header {
    padding: 2em 10%;
  }
}
@media (min-width: 900px) {
  header {
    height: 100px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
  }
}
/* || FOOTER */
footer {
  background-color: #FFFFFE;
  padding-top: 1.76em;
}
footer .logo-footer {
  color: #0E172C;
  margin-bottom: 1.3em;
}
footer .footer-top-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 6em;
}
footer .footer-contact h2 {
  margin-bottom: 0;
}
footer .footer-contact h4 {
  margin-top: 0.1em;
  color: #0E172C;
  text-decoration: none;
}

@media (min-width: 900px) {
  footer .margin-container {
    padding-bottom: 1em;
    padding-left: 8%;
    padding-right: 8%;
    max-width: 1520px;
  }
  footer .footer-top-row {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6.5em;
  }
  footer .footer-contact {
    text-align: right;
  }
  footer .footer-contact h2 {
    margin-top: -5px;
  }
  footer .nav-footer ul {
    margin: 0 auto;
  }
}
/* || COMPONENTS */
nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: column;
}
nav a {
  font-size: 0.74rem;
  line-height: 1.3;
  font-weight: 400;
  color: #0E172C;
  text-decoration: none;
}
nav a:hover, nav a:focus {
  color: #A786DF;
}

@media (min-width: 900px) {
  .nav-main {
    width: 100%;
  }
  .nav-main ul {
    width: 100%;
    flex-direction: row;
    margin: 0 75px 20px 75px;
  }
  .nav-main ul li:nth-child(1) {
    order: 3;
    margin: 0 auto;
    align-self: flex-end;
  }
  .nav-main ul li:nth-child(2) {
    order: 1;
    margin-right: 43px;
  }
  .nav-main ul li:nth-child(3) {
    order: 2;
  }
  .nav-main ul li:nth-child(4) {
    order: 4;
    margin-right: 43px;
  }
  .nav-main ul li:nth-child(5) {
    order: 5;
  }
}
.nav-burger {
  order: 2;
  margin-left: auto;
  width: 30px;
  height: 12px;
  position: relative;
  border-top: 2px solid #0E172C;
  z-index: 9;
  transition: border 0.4s ease-in-out;
}

.nav-burger:after, .nav-burger:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #0E172C;
  position: absolute;
}

.nav-burger:after {
  bottom: 0;
  left: 0;
  width: 60%;
  transition: background-color 0.4s ease-in-out, width 0.4s ease-in-out;
}

.nav-burger:before {
  top: 4px;
  left: 0;
  transition: background-color 0.4s ease-in-out;
}

.js-nav-burger-expand:after {
  width: 100%;
}

.js-navBurger-darkBlue {
  border-top: 2px solid #0E172C !important;
}

.js-navBurger-darkBlue:after, .js-navBurger-darkBlue:before {
  background-color: #0E172C !important;
}

@media (min-width: 900px) {
  .nav-burger {
    display: none;
  }
}
.nav-mobile {
  width: 100vw;
  height: 100vh;
  background-color: #FEC7D7;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-mobile ul {
  text-align: center;
  text-transform: uppercase;
}
.nav-mobile ul li {
  margin-bottom: 1em;
  letter-spacing: 0.123em;
}
.nav-mobile ul li a {
  text-decoration: none;
  color: #0E172C;
}
.nav-mobile ul li a:hover {
  color: #A786DF;
}
.nav-mobile ul li:first-child {
  margin-bottom: 2em;
  letter-spacing: 0.141em;
}
.nav-mobile ul .logo a {
  color: #FFFFFE;
}

@supports (font-size: calc(100% * 1.1)) {
  .nav-mobile ul {
    font-size: calc(100% * 1.1);
  }
  .nav-mobile ul .logo a {
    font-size: 110%;
  }
}
.js-nav-mobile-transition {
  transition: transform 0.4s ease-in-out;
}

.js-nav-mobile-show {
  transform: translateY(0vh);
}

footer .nav-footer ul {
  text-align: center;
  display: flex;
  flex-direction: row;
}
footer .nav-footer ul li {
  margin-left: 1em;
}
footer .nav-footer ul li:nth-child(1) {
  margin-left: 0;
}

.cocktail-finder-section .beverage-list-container,
.cocktail-finder-section .beverage-details-container, .menu-section .drink-box, .testimonials-section .testimonial-box, .services .card {
  max-width: 484px;
  background-color: #F9F8FC;
  border-radius: 5px;
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
}

.card-margin-container {
  position: relative;
  display: inline-block;
  padding: 2em;
}

/* =====================================
 * * PAGES
 * * ================================== */
/* || HOMEPAGE */
.home {
  background-color: #FEC7D7;
}

.hero-section-homepage {
  background-color: #D9D4E7;
}
.hero-section-homepage img {
  position: absolute;
  left: 105px;
  min-width: 405px;
  max-width: 405px;
}

.headings-wrap-landing {
  position: relative;
}
.headings-wrap-landing h1:nth-child(1) {
  margin-bottom: 0;
}
.headings-wrap-landing h1:nth-child(2) {
  margin: 0;
}
.headings-wrap-landing h1:nth-child(3) {
  margin-top: 0;
}
.headings-wrap-landing h3 {
  margin-top: -1.3em;
}

.js-start-hide {
  opacity: 0;
}

.js-end-show {
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}

.js-landing-hero-show {
  opacity: 1;
  transition: opacity 1.2s ease-in-out;
}

.js-startPositionTop {
  transform: translateY(-50px);
  opacity: 0;
}

.js-startPositionLeft {
  transform: translateX(-50px);
  opacity: 0;
}

.js-startPositionLeft_ext {
  transform: translateX(-100px);
  opacity: 0;
}

.js-landing-h1-startPosition {
  transform: translateX(-40vw);
  opacity: 0;
}

.js-endPosition {
  transform: translate(0);
  opacity: 1;
  transition: 0.6s ease-in-out;
}

.js-endPosition_ext {
  transform: translate(0);
  opacity: 1;
  transition: 0.7s ease-in-out;
}

.js-landing-h3-startPosition {
  transform: translateY(10px);
  opacity: 0;
}

.js-landing-h3-endPosition {
  transform: translateY(0);
  opacity: 1;
  transition: 0.8s ease-in-out;
}

@media (min-width: 450px) {
  .hero-section-homepage img {
    max-width: 505px;
    left: 40vw;
  }
}
@media (min-width: 900px) {
  .hero-section-homepage .margin-container {
    padding-top: 4.8em;
    padding-bottom: 6.8em;
  }
  .hero-section-homepage img {
    max-width: 885px;
  }
}
.contact-info {
  background-color: #FFFFFE;
  margin-bottom: 6em;
}

@media (min-width: 900px) {
  .contact-info .margin-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    margin-bottom: 10em;
  }
}
.phone,
.email {
  display: inline-block;
}

.services {
  margin-bottom: 6em;
}
.services h4 {
  margin-bottom: 4em;
}
.services .card {
  background-color: #FFFFFE;
}

@media (min-width: 900px) {
  .reservations {
    text-align: center;
  }

  .hours {
    display: block;
    text-align: center;
  }

  .card-container-services {
    display: flex;
  }

  .card-events {
    align-self: center;
    margin-right: 40px;
  }
}
.contact-form {
  margin-bottom: 6em;
}

.form-email, .form-subject {
  display: flex;
}
.form-email h4, .form-subject h4 {
  width: 8em;
  opacity: 0.7;
  color: #0E172C;
}
.form-email input, .form-subject input {
  font-weight: 400;
  height: 1.3em;
  border: none;
  outline: none;
  background-color: #FEC7D7;
  width: 100%;
  max-width: 350px;
  margin-top: 0.7em;
}
.form-email input::placeholder, .form-subject input::placeholder {
  color: #0E172C;
  font-weight: 400;
  opacity: 0.7;
}

.form-subject, .form-text {
  margin-bottom: 1.6em;
}

textarea {
  font-size: 1.74em;
  max-height: 40vh;
  width: 100%;
  max-width: 900px;
  background-color: #FEC7D7;
  border: none;
  box-shadow: none;
  resize: none;
  outline: none;
}

textarea::placeholder {
  color: #0E172C;
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:hover::placeholder {
  opacity: 0.6;
}

.form-submit input {
  transition: opacity 0.1s ease;
}
.form-submit input:hover {
  opacity: 1;
}

@media (min-width: 900px) {
  textarea {
    min-height: 3em;
  }
}
/* || ABOUT */
.about {
  background-color: #FEC7D7;
}

.hero-section-about {
  height: 160px;
}
.hero-section-about .margin-container {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.hero-section-about .hero-image-wrap {
  height: 160px;
  background-image: linear-gradient(rgba(217, 212, 231, 0.85), rgba(217, 212, 231, 0.85)), url(../img/hero_about.jpg);
  background-size: cover;
  width: 100%;
  position: absolute;
  z-index: -1;
}

@media (min-width: 450px) {
  .hero-section-about {
    height: 15.5rem;
  }
  .hero-section-about .hero-image-wrap {
    height: 15.5rem;
  }
  .hero-section-about h2 {
    margin-bottom: 40px;
  }
}
@media (min-width: 900px) {
  .hero-section-about {
    padding-top: 60px;
  }
  .hero-section-about .margin-container {
    margin-top: 170px;
    display: block;
    padding: 2em 7%;
  }
  .hero-section-about .hero-image-wrap {
    max-width: 1264px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media (min-width: 1280px) {
  .hero-section-about .hero-image-wrap {
    border-radius: 5px;
  }
}
.testimonials-section {
  margin-bottom: 3.8em;
}
.testimonials-section .headings-container {
  display: flex;
}
.testimonials-section .headings-container .icon-bubbles2 {
  padding: 0 0 0 0.8em;
  color: #FFFFFE;
  font-size: 3rem;
  margin-top: -0.3em;
}
.testimonials-section p {
  margin-top: -0.4em;
}
.testimonials-section .headings-testimonials {
  margin-bottom: 2em;
}
.testimonials-section .testimonial-box {
  position: relative;
  z-index: -2;
}
.testimonials-section .testimonial-box .card-margin-container {
  padding: 3em;
  padding-bottom: 2em;
}
.testimonials-section .testimonial-box .card-margin-container .icon-quotes-left {
  position: absolute;
  top: 0.45em;
  left: 0.7em;
  font-size: 3rem;
  color: #A786DF;
  z-index: -1;
  opacity: 0.16;
}
.testimonials-section .testimonial-box .card-margin-container .client-name {
  text-align: right;
}

@media (min-width: 900px) {
  .testimonials-section .testimonials-grid {
    width: 46%;
    float: left;
    margin-right: 2vw;
  }
  @supports (display: grid) {
    .testimonials-section .cocktail-finder-section .beverage-list-container, .cocktail-finder-section .testimonials-section .beverage-list-container,
.testimonials-section .cocktail-finder-section .beverage-details-container,
.cocktail-finder-section .testimonials-section .beverage-details-container, .testimonials-section .menu-section .drink-box, .menu-section .testimonials-section .drink-box, .testimonials-section .services .card, .services .testimonials-section .card, .testimonials-section .testimonial-box {
      max-width: none;
      margin: 0;
    }
    .testimonials-section .testimonials-grid {
      width: 100%;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      margin-bottom: 30px;
    }
    .testimonials-section .testimonials-grid:nth-of-type(1) .testimonial-box:nth-child(3) {
      grid-column: 1/3;
    }
    .testimonials-section .testimonials-grid:nth-of-type(2) .testimonial-box:nth-child(2) {
      grid-column: 2/3;
      grid-row: 1/3;
    }
    .testimonials-section .testimonials-grid:nth-of-type(2) .testimonial-box:nth-child(1) {
      grid-row: 1/2;
    }
    .testimonials-section .testimonials-grid:nth-of-type(2) .testimonial-box:nth-child(3) {
      grid-row: 2/3;
    }
  }
}
.about-wendy-section {
  background-color: #0E172C;
  color: #D9D4E7;
}
.about-wendy-section .margin-container {
  padding-top: 4.5em;
  padding-bottom: 6.5em;
}
.about-wendy-section h2 {
  color: #FFFFFE;
}
.about-wendy-section .about-wendy-grid {
  display: flex;
  flex-direction: column;
}
.about-wendy-section .about-wendy-grid .about-wendy-text {
  order: 1;
  margin: 0.7em 0;
}
.about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(2) {
  order: 0;
}
.about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(2) .img-wrap {
  padding-bottom: 60%;
  background-image: url(../img/wendy_smiling.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(3) {
  order: 3;
}
.about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(3) img {
  width: 21.7rem;
  border-radius: 5px;
}

@media (min-width: 450px) {
  .about-wendy-section .about-wendy-grid {
    display: block;
  }
  .about-wendy-section .about-wendy-grid .about-wendy-text {
    margin: 0 0 2em 0;
  }
  .about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(2) {
    width: 27vw;
    margin-bottom: 30px;
    float: left;
    margin-right: 2vw;
  }
  .about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(2) .img-wrap {
    padding-bottom: 67%;
  }
  .about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(3) img {
    width: 45vw;
    border-radius: 5px;
  }

  @supports (display: grid) {
    .about-wendy-section .about-wendy-grid .about-wendy-text {
      margin: 0;
    }
    .about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(2) {
      margin: 0;
    }

    .about-wendy-section .about-wendy-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 2rem;
      column-gap: 0.9rem;
    }
    .about-wendy-section .about-wendy-grid .about-wendy-text {
      grid-column: 1/3;
      grid-row: 1/2;
    }
    .about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(2) {
      grid-column: 1/2;
      grid-row: 2/3;
      justify-self: end;
    }
    .about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(3) {
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }
}
@media (min-width: 900px) {
  .about-wendy-section .about-wendy-grid .about-wendy-text {
    max-width: 496px;
  }
  .about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(2) {
    max-width: 300px;
  }
  .about-wendy-section .about-wendy-grid .wendy-img-box:nth-child(3) {
    max-width: 500px;
    float: left;
  }

  @supports (display: grid) {
    .about-wendy-section .about-wendy-grid .about-wendy-text {
      grid-column: 1/2;
    }
  }
}
/* || COCKTAILS */
.cocktails {
  background-color: #0E172C;
}
.cocktails header {
  background-color: #0E172C;
}
.cocktails header .nav-burger {
  border-top: 2px solid #F9F8FC;
}
.cocktails header .nav-burger:after, .cocktails header .nav-burger:before {
  background-color: #F9F8FC;
}
.cocktails header a {
  color: #F9F8FC;
}
.cocktails footer {
  background-color: #FEC7D7;
}

.hero-section-cocktails {
  height: 160px;
}
.hero-section-cocktails .margin-container {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.hero-section-cocktails .hero-image-wrap {
  height: 160px;
  background-image: linear-gradient(rgba(217, 212, 231, 0.85), rgba(217, 212, 231, 0.85)), url(../img/cocktails.jpg);
  background-size: cover;
  width: 100%;
  position: absolute;
  z-index: -1;
}

@media (min-width: 450px) {
  .hero-section-cocktails {
    height: 15.5rem;
  }
  .hero-section-cocktails .hero-image-wrap {
    height: 15.5rem;
  }
  .hero-section-cocktails h2 {
    margin-bottom: 40px;
  }
}
@media (min-width: 900px) {
  .hero-section-cocktails {
    padding-top: 60px;
  }
  .hero-section-cocktails .margin-container {
    margin-top: 170px;
    display: block;
    padding: 2em 7%;
  }
  .hero-section-cocktails .hero-image-wrap {
    max-width: 1264px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media (min-width: 1280px) {
  .hero-section-cocktails .hero-image-wrap {
    border-radius: 5px;
  }
}
.menu-section {
  margin-bottom: 3.8em;
}
.menu-section p {
  color: #F9F8FC;
  margin-bottom: 4.5em;
}
.menu-section h4 {
  color: #FFFFFE;
}
.menu-section .js-alcohol-headings li {
  margin-right: 3em;
}
.menu-section .alcohol-heading {
  margin: 4em 0 2em;
}
.menu-section .drink-box {
  background-color: #D9D4E7;
}

@media (min-width: 900px) {
  .menu-section .drink-box {
    width: 46%;
    float: left;
    margin-right: 2vw;
  }
  @supports (display: grid) {
    .menu-section .cocktail-finder-section .beverage-list-container, .cocktail-finder-section .menu-section .beverage-list-container,
.menu-section .cocktail-finder-section .beverage-details-container,
.cocktail-finder-section .menu-section .beverage-details-container, .menu-section .services .card, .services .menu-section .card, .menu-section .testimonials-section .testimonial-box, .testimonials-section .menu-section .testimonial-box, .menu-section .drink-box {
      max-width: none;
      margin: 0;
    }
    .menu-section .drinks-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      margin-bottom: 30px;
    }
    .menu-section .drinks-grid .drink-box {
      width: 100%;
    }
    .menu-section .drinks-grid:nth-of-type(1) .drink-box:nth-child(3) {
      grid-column: 1/3;
    }
    .menu-section .drinks-grid:nth-of-type(1) .drink-box:nth-child(3) .card-margin-container {
      margin: 0 auto;
    }
    .menu-section .drinks-grid:nth-of-type(1) .drink-box:nth-child(3) ul {
      display: flex;
    }
    .menu-section .drinks-grid:nth-of-type(1) .drink-box:nth-child(3) ul li {
      margin-right: 3em;
    }
    .menu-section .drinks-grid:nth-of-type(3) .drink-box:nth-child(2) {
      grid-column: 2/3;
      grid-row: 1/3;
    }
    .menu-section .drinks-grid:nth-of-type(3) .drink-box:nth-child(1) {
      grid-row: 1/2;
    }
    .menu-section .drinks-grid:nth-of-type(3) .drink-box:nth-child(3) {
      grid-row: 2/3;
    }
  }
}
.cocktail-finder-section {
  background-color: #FFFFFE;
}
.cocktail-finder-section .margin-container:nth-of-type(1) {
  padding-top: 4.5em;
}
.cocktail-finder-section .margin-container:nth-of-type(1) p {
  max-width: 490px;
}
.cocktail-finder-section .margin-container:nth-of-type(2) {
  padding-bottom: 6.5em;
}
.cocktail-finder-section form {
  margin-top: 1.8em;
  display: flex;
  flex-direction: column;
  max-width: 496px;
}
.cocktail-finder-section form input {
  height: 3.2rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #D9D4E7;
}
.cocktail-finder-section form .ingredient-input {
  margin-bottom: 1em;
  padding-left: 1.8em;
}
.cocktail-finder-section form .btn_2 {
  margin-left: auto;
  height: 2rem;
  width: 5.6rem;
  color: #D9D4E7;
  background-color: #A786DF;
  opacity: 0.73;
  font-weight: 600;
  line-height: 1.5;
  font-size: 0.78rem;
  cursor: pointer;
  letter-spacing: 0.123em;
}
.cocktail-finder-section .beverage-list-container,
.cocktail-finder-section .beverage-details-container {
  background-color: #D9D4E7;
}
.cocktail-finder-section .beverage-list-container {
  align-items: start;
  font-size: 0.78rem;
}
.cocktail-finder-section .beverage-list-container .card-margin-container {
  padding: 1em 0;
  width: 100%;
}
.cocktail-finder-section .beverage-list-container .card-margin-container .heading-container {
  text-align: center;
}
.cocktail-finder-section .beverage-list-container .drinks-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cocktail-finder-section .beverage-list-container .drinks-slide {
  display: flex;
  justify-content: space-between;
  order: 1;
}
.cocktail-finder-section .beverage-list-container .drinks-slide li {
  border-radius: 5px;
  background-color: #F9F8FC;
  padding: 0.8em;
  margin: 1em 0.5em;
  cursor: pointer;
}
.cocktail-finder-section .beverage-list-container .btn_back,
.cocktail-finder-section .beverage-list-container .btn_forward {
  width: 2.8rem;
  height: 2.8rem;
  color: #F9F8FC;
  cursor: pointer;
}
.cocktail-finder-section .beverage-list-container .btn_back {
  order: 0;
}
.cocktail-finder-section .beverage-list-container .btn_back .material-icons-round {
  font-size: 2.5rem;
}
.cocktail-finder-section .beverage-list-container .btn_forward {
  order: 2;
  display: flex;
}
.cocktail-finder-section .beverage-list-container .btn_forward .material-icons-round {
  font-size: 2.5rem;
  margin-left: auto;
}
.cocktail-finder-section .beverage-details-container .beverage-image-wrap {
  margin-bottom: 30px;
}
.cocktail-finder-section .beverage-details-container img {
  border-radius: 5px;
  border: 0.09rem solid #0E172C;
  width: 75%;
  margin: 0 auto;
}
.cocktail-finder-section .beverage-details-container ul li {
  font-weight: 300;
}

@media (min-width: 900px) {
  .cocktail-finder-section .margin-container:nth-of-type(2) {
    max-width: 1520px;
    display: flex;
    justify-content: space-between;
  }
  .cocktail-finder-section .beverage-list-container,
.cocktail-finder-section .beverage-details-container {
    max-width: none;
    width: 49%;
    font-size: 1em;
  }
  .cocktail-finder-section .beverage-list-container {
    height: 635.7px;
  }
  .cocktail-finder-section .beverage-list-container .drinks-wrap {
    justify-content: center;
  }
  .cocktail-finder-section .beverage-list-container .drinks-wrap .btn_back, .cocktail-finder-section .beverage-list-container .drinks-wrap .btn_forward {
    display: none;
  }
  .cocktail-finder-section .beverage-list-container .drinks-wrap li {
    font-weight: 300;
  }
  .cocktail-finder-section .beverage-details-container {
    align-items: flex-start;
  }
  .cocktail-finder-section .beverage-details-container .card-margin-container {
    padding-top: 1em;
    padding-bottom: 1.5em;
    width: 100%;
  }
  .cocktail-finder-section .beverage-details-container .card-margin-container .heading-container {
    text-align: center;
  }
  .cocktail-finder-section .beverage-details-container .card-margin-container img {
    width: 360px;
  }
}
@media (min-width: 1690px) {
  .cocktail-finder-section .beverage-details-container .card-margin-container {
    padding: 1em 1.5em;
  }
  .cocktail-finder-section .beverage-details-container .card-margin-container .beverage-details-wrap {
    display: flex;
    margin-top: 80px;
  }
  .cocktail-finder-section .beverage-details-container .card-margin-container .heading-container {
    text-align: left;
  }
  .cocktail-finder-section .beverage-details-container .beverage-image-wrap {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .cocktail-finder-section .beverage-details-container .ingredients-list-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* || FAQ */
.faq .intro-section-faq p {
  max-width: 27rem;
}
.faq .hero-section-faq {
  height: 200px;
  background-image: url(../img/questionmark.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 2em;
}
@media (min-width: 450px) {
  .faq .hero-section-faq {
    height: 300px;
  }
}
@media (min-width: 900px) {
  .faq .hero-section-faq {
    height: 460px;
  }
}
.faq .qa-section {
  margin-bottom: 7rem;
}
.faq .qa-container {
  background-color: #D9D4E7;
  border-radius: 5px;
}
.faq .card-margin-container {
  padding: 2em 0.7em;
}
.faq .qa {
  border-bottom: 1px solid #F9F8FC;
  margin-bottom: 1.4em;
}
.faq .qa:last-child {
  border: none;
  margin-bottom: 0;
}
.faq .qa:last-child p {
  margin-bottom: 0;
}
.faq .question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq .question-container h3 {
  margin: 0 1.47em 0 0;
}
.faq .add-icon {
  font-size: 1.95rem;
  color: #F9F8FC;
}
@media (min-width: 450px) {
  .faq .qa-container {
    padding: 2em;
  }
  .faq .card-margin-container {
    padding: 0;
    width: 100%;
  }
  .faq .answer-container p {
    max-width: 540px;
  }
}
@media (min-width: 900px) {
  .faq .hero-section-faq {
    margin-bottom: 3em;
  }
  .faq .qa-container {
    padding: 3em 5em;
  }
  .faq .answer-container p {
    max-width: 624px;
  }
}
.faq footer {
  background-color: #FEC7D7;
}

/* || CONTACT */
.contact {
  background-color: #FEC7D7;
}
.contact main {
  margin-top: 3em;
}
@media (min-width: 900px) {
  .contact main {
    margin-top: 8.7em;
  }
}
.contact .contact-section {
  margin-bottom: 6em;
}
.contact .contact-section .contact-info-wrap {
  max-width: 496px;
}
.contact .email-address {
  display: block;
  margin-bottom: 3em;
}

/*# sourceMappingURL=style.css.map */
